*{margin: 0;padding: 0}
html,body{
	height: 100%
	}     /*这里很关键*/

.outer-wrap {
    /*只有同时为html和body设置height: 100%时，这里的height才生效，
    并且随浏览器窗口变化始终保持和浏览器视窗等高*/
    height: 100%;   
    position: relative;
    background-color:#FFFAD3;
    background-image: url('/images/home/login/background.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size:100% 100%;  
}

.login-panel{
	width: 800px;
	height: 600px;
	position: absolute;
	top: 68%;
	left: 50%;
	margin-top: -150px;
	margin-left: -400px;
}

.input-group {
	width:100%;
	margin-top:40px;
}

.input-circle {
	width:96%;
	height:90px;
	border: 1px solid #FF6629; 
	border-radius: 15px;
	outline:none;
	padding-left:4%;
	word-spacing:2vw;
}

.getCode {
	position: relative;
	top:-9.5vw;
	left:61.5vw;
	height:90px;
	width:25%;
	border-radius: 15px;
	outline:none;
	background: #FF691D;
	font-size: 2vw;
	color: white;
	letter-spacing: 1vw;
}

::-webkit-input-placeholder{
     color: #D8D8D8;
     font-size: 2vw;
     letter-spacing: 1vw;
}

.submit {
	width:100%;
	height:90px;
	
}

.submit input {
	height: 100%;
	width: 100%;
	border-radius: 15px;
	background: #FF6629;
	font-size: 4vw;
	letter-spacing: 2vw;
	color: white;
	outline: none;
}

.agree {
	font-size: 3vw;
	color: #FF6629;
	margin-top: 40px;
	text-align: center;
}




